$color-red: #de2000;
$color-blue: #1d4680;

// $font-title: 'Nunito', sans-serif;
// $font-main:  'Nunito', sans-serif;
// $font-info: 'Nunito', sans-serif;

//responsive breakpoints
$bp-largest: 75em;  // 1200px
$bp-large: 62.5em;  // 1000px
$bp-medium: 50em;  // 800px
$bp-small: 37.5em;  // 600px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 10px/16px = 62.5% => 1rem = 10px 16px: browser default
    // color: rgb(253, 146, 146);

    // @media only screen and (max-width: $bp-largest) {
    //     font-size: 50%;
    // }
}

body {
    // font-family: $font-text;
    // color: $color-grey-dark-2;
    font-weight: 300;  // weight is included in html head
    line-height: 1.6; 
}

.container {
    display: grid;
    background-color: #eee;
    grid-template-columns: 80vh min-content repeat(8, min-content);  
    grid-template-rows: 3rem repeat(3, 200px) 6rem;
    
    //min-content == auto

    // grid-template-columns: 8rem 1fr repeat(8, minmax(min-content, 14rem)) 1fr;

    grid-template-columns: repeat(12, 1fr);
    // [full-start] 1fr  [left-start] 1fr [left-end] [title-start] minmax(min-content, 14rem) [title-end] [right-start] 1fr [right-end] 1fr [full-end];
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    
& > * {
    align-content: center;
    justify-content: center;
}

.aae {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    margin: 1rem;
    background-color: #84099c;
    align-content: center;
    
}

.airc {
    display: grid;
    grid-column: 9 / 11;
    background-color: #1766cc;
    
}

.content {
    display: flex;
    flex-direction: column;
    grid-column: 3 / span 7;
    // grid-gap: 3rem;
    // overflow: auto;
    background-color: rgb(68, 59, 59);
    font-size: 3rem;
    line-height: 1.2;

    &__1 {
        // display: grid;
        margin-bottom: 3rem;
        // font-size: 3rem;
        // grid-row: 1 / 2;
        // grid-column: subgrid;
        
        
        // width: 90%;
        // height: 10rem;
        background-color: rgb(236, 49, 49);
    }

    &__2 {
        // display: flex;
        // grid-gap: 3rem;
        // height: 10rem;
        grid-column: 1 / 7;
        grid-row: 2 / 3;
        // font-size: 3rem;

        // justify-content: flex-end;
        background-color: green;
    }
}

.aai {
        display: grid;
        grid-column: 2 / 5;
        grid-row: 4 / 5;
        background-color: orangered;
    }

.info {
        display: grid;
        grid-column: 8 / 11;
        grid-row: 4 / 5;
        background-color: pink;
    }


}