

/* Safari doesn't support grid-template--columns or grid-template-rows. */

    body {
        margin: 0px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 100vh; */
        grid-template-areas: "header header header header header header" 
        ". image1 title1 title2 image2 ." 
        /* ". image1 title1 title2 image2 ."  */
        ". main-content main-content main-content main-content ." 
        ". main-content main-content main-content main-content ." 
        ". main-content main-content main-content main-content ." 
        ". main-content main-content main-content main-content ." 
        ". image3 . . info ." ". image3 . . info ." 
        "footer footer footer footer footer footer";
        font-family: Arial, Helvetica, sans-serif;
        height: calc(100vh - 0px)
    }
    
    .header { 
        grid-area: header; 
        background-color: #1C4680;
        padding: 5px;

    }
    
    .footer { 
        grid-area: footer;
        background-color: #1C4680;
        padding: 15px;
        margin-top: 30px;
    }

    .footer, .text {
      font-size: 1em;
    }


    .title1 {
        display: inline-flex;
        grid-area: title1;
        text-align: center;
        /* padding-right: 0.15em; */
        /* padding-left: 0em; */
        /* padding-bottom: 1em; */
        color: #C9392B;
        font-size: 3em;
    }

    .base1 {
        align-self: center;
        justify-self: center;

    }

    .base2 {
        align-self: center;
        justify-self: left;

    }


    .title2 {
        display: flex;
        grid-area: title2;

        color: #1C4680;
        font-size: 3em;
    }

  .image1 { 
      grid-area: image1;
      align-self: center;

    }


  .image1 > img {
    /* object-fit: cover; */
    width: 110%;

  }
  
  .image2 { 
      grid-area: image2; 
    }
  
  .image2 > img {
        object-fit: cover;
        width: 90%;
      }

  .image3 { 
      grid-area: image3; 
    }
  
  .image3 > img {
        object-fit: cover;
        width: 100%;      
   }


  .info { 
      display: flex;
      grid-area: info; 
      align-items: center;
      /* text-align: left; */
      padding-right: 0.5em;
    }

  .info > infotext {
    align-content: center;
    align-items: center;
    color: black;
  }
  
  .main-content { 
    grid-area: main-content; 
    padding: 0.5em 1em 0.5em 1em;
  }

  .text {
      display: flex;
      color: white;
      justify-content: center;

   }

  .maintext {
      font-size: 1.5em;
  }